[submodule "build"]
	path = build
	url = https://github.com/SydeLink/build
[submodule "kernel"]
	path = kernel
	url = https://github.com/SydeLink/kernel
[submodule "rootfs"]
	path = rootfs
	url = https://github.com/SydeLink/rootfs
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/SydeLink/u-boot
[submodule "rkbin"]
	path = rkbin
	url = https://github.com/SydeLink/rkbin
[submodule "sltools"]
	path = sltools
	url = https://github.com/SydeLink/sltools
